@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div {
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
}
table {
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}

strong{
	font-weight: bold;
}

h1,h2{
	font-weight: normal;
	font-size: 100%;
	margin:0;
	padding:0;
	color:#444;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}

p{
	font-size: 2em;
}
.section{
	text-align:center;
	position: relative;
}


.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

#fullPage-nav{
	position: absolute;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}
#fullPage-nav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
}
#fullPage-nav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fullPage-nav li .active span{
	background: #333;
}
#fullPage-nav span{
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}

.section{
	background-size: cover;
}

.slide{
	background-size: cover;
}
/* Section 0
* --------------------------------------- */
#section0{
	background-image: url(graphics/eturistbackground.jpg);
}

#section0 h1{
	margin-top:-25px;
}

/* Section 1
* --------------------------------------- */
#section1 img{
	position:absolute;
	left: 40px;
	top: 100px;
}

#section1 {

	background: -webkit-linear-gradient(#F8F8F8 , #D8D8D8  );
	background: -o-linear-gradient(#F8F8F8 , #D8D8D8 );
	background: linear-gradient(#F8F8F8 , #D8D8D8  );

}

#section1 h1{
	font-size: 300%;
	margin-left:-550px;
	margin-top: -150px;
}

#section1 p{
	font-size:125%;
	margin-left:-550px;
	margin-top: 35px;
}

#section1 .box{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -192px;
	margin-left: 89px;
	width: 395px;
	z-index: 1;
}
#section1 .imgsContainer{
	display: block;
	position: absolute;
	z-index: 1;
	top: 42%;
	left: 58%;
	margin-top: -50px;
	margin-left: -700px;
	width: 800px;
	height: 696px;
}
#section1 img{
	height: 60%;
}
/*screen resolutions between 620px and 800px*/
@media all and (min-width: 620px) and (max-width: 800px){
	#section1 .imgsContainer{
		margin-top: -278px;
		margin-left: 500px;
		width: 647px;
		height: 563px;
	}
}

/*screen resolutions lower than 620px*/
@media all and (max-width: 620px){
	#section1 .imgsContainer{
		margin-top: -500px;
		margin-left: 500px;
		width: 534px;
		height: 464px;
	}
}

/* Section 2
* --------------------------------------- */
#section2 {

	background: -webkit-linear-gradient(#D8D8D8 ,#B0B0B0 );
	background: -o-linear-gradient(#D8D8D8 , #B0B0B0 );
	background: linear-gradient(#D8D8D8 , #B0B0B0 );

}

/* Section 3
* --------------------------------------- */
#section3 {
	background: #505050;
}
#section3 h1{
	color:#D0D0D0;
	font-size:150%;
	margin-left:100px;
	text-align:justify;
}
#section3 p{
	color:#E0E0E0;
	font-size:120%;
	margin-left:100px;
	text-align:justify;
}

/* Sections
 * --------------------------------------- */
#section0 img,
#section1 img{
	margin: 20px 0 0 0;
}
#section2 img{
	margin: 20px 0 0 52px;
}
#section3 img{
	bottom: 0px;
	position: absolute;
	margin-left: -420px;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;

}
